# Database
# Format for Railway Replica Set: mongodb://username:password@mongo1.railway.internal:27017,mongo2.railway.internal:27017,mongo3.railway.internal:27017/your_db?replicaSet=rs0
MONGODB_URI=""

# Better Auth
# Run 'npx @better-auth/cli secret' to generate one
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
